doctype html
html
  head
    include modules/head.pug
  body
    include modules/noscript.pug
    script(type='text/javascript', src='js/queryloader2.min.js')
    script(type='text/javascript', id='__bs_script__')
      //<! [CDATA[document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname)); //]]>
    div.container-fluid
      div.row
        div.main.well.col-xs-12.col-md-8.col-md-offset-2
          //- Header
          include modules/header.pug

          //- Responsive Web Design
          div.row(title='freeCodeCamp Responsive Web Design Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleRWD') Responsive Web Design
              i.fa.fa-free-code-camp
              p.description html &#8594; css &#8594; visual design &#8594; accessibility
          div.row.collapse#toggleRWD
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- RWD sites (dynamic)
              each val in responsive.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Responsive Web Design Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/responsive-web-design' target='_blank' rel='noopener noreferrer')
                p.cert Responsive Web Design Certificate
          br

          //- JavaScript Algorithms and Data Structures
          div.row(title='freeCodeCamp JavaScript Algorithms and Data Structures Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDSA') JavaScript Algorithms and Data Structures
              i.fa.fa-code
              p.description scripting challenges &#8594; algorithms &#8594; small programs
          div.row.collapse#toggleDSA
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- DSA algorithms (Gists)
              script(src="https://gist.github.com/CharmedSatyr/be02429bb75c4b140945b6f0858c3901.js")
              //- JavaScript Algorithms and Data Structures Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/javascript-algorithms-and-data-structures' target='_blank' rel='noopener noreferrer')
                p.cert JavaScript Algorithms and Data Structures Certificate
          br

          //- Front End Libraries
          div.row(title='freeCodeCamp Front End Libraries Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleFEL') Front End Libraries
              i.fa.fa-book
              p.description bootstrap &#8594; sass &#8594; jQuery &#8594; react &#8594; redux
          div.row.collapse#toggleFEL
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- Libraries sites (dynamic)
              each val in libraries.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Front End Libraries Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/front-end-libraries' target='_blank' rel='noopener noreferrer')
                p.cert Front End Libraries Certificate
          br

          //- Data Visualization
          div.row(title='check out my progress!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDV') Data Visualization
              i.fa.fa-camera-retro
              p.description basic &#8594; intermediate &#8594; advanced
          div.row.collapse#toggleDV
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- Data visualization sites (dynamic)
              each val in visualization.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Data Visualization Certificate
              p.cert Data Visualization Certificate in progress!
          br

          //- APIs and Microservices
          div.row(title='freeCodeCamp APIs and Microservices Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleAPIs') APIs and Microservices
              i.fa.fa-server
              p.description basic &#8594; intermediate &#8594; advanced
          div.row.collapse#toggleAPIs
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- APIs and Microservices sites (dynamic)
              each val in apis.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- APIs and Microservices Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/apis-and-microservices' target='_blank' rel='noopener noreferrer')
                p.cert APIs and Microservices Certificate
          br

          //- Information Security and Quality Assurance
          div.row(title='freeCodeCamp Information Security and Quality Assurance Certification: in progress!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleISQA') Information Security and Quality Assurance
              i.fa.fa-free-code-camp
              p.description basic &#8594; intermediate &#8594; advanced
          div.row.collapse#toggleISQA
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //- Information Security and Quality Assurance sites (dynamic)
              each val in infosec.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Information Security and Quality Assurance Certificate
              p.cert Information Security and Quality Assurance Certificate in progress!
          br

          //- Legacy Front End
          div.row(title='freeCodeCamp Legacy Front End Certification: acquired!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleLFE') Legacy Front End
              i.fa.fa-free-code-camp
              p.description basic &#8594; intermediate &#8594; advanced
          div.row.collapse#toggleLFE
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //-  Legacy Front End sites (dynamic)
              each val in legacy_front.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Legacy Front End Development Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/legacy-front-end' target='_blank' rel='noopener noreferrer')
                p.cert Legacy Front End Development Certificate
          br

          //- Legacy Back End
          div.row(title='the full stack experience!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleLBE') Legacy Back End
              i.fa.fa-free-code-camp
              p.description node &#8594; express &#8594; mongodb
          div.row.collapse#toggleLBE
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //-  Legacy Back End sites (dynamic)
              each val in legacy_back.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Legacy Back End Development Certificate
              a(href='https://www.freecodecamp.org/certification/charmedsatyr/legacy-back-end' target='_blank' rel='noopener noreferrer')
                p.cert Legacy Back End Development Certificate
          br

          //- Legacy Data Visualization
          div.row(title='freeCodeCamp Legacy Data Visualization Certification: obsolete!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleLDV') Legacy Data Visualization
              i.fa.fa-free-code-camp
              p.description react &#8594; d3
          div.row.collapse#toggleLDV
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              br
              //-  Legacy Data Visualization sites (dynamic)
              each val in legacy_data.sites
                a#fader(href=`${val.url}`)
                  div.thumbnail-container(title=`${val.title}`)
                    div.thumbnail
                      iframe(src=`${val.url}` frameborder='0' onload='this.style.opacity=1')
                  p !{val.title}
                br
              //- Legacy Data Visualization Certificate
              p.cert This certificate is not offered in the new curriculum
          br

          // Other Projects
          // Other heading
          div.row(title='cordial, cooperative code cobbling')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleOther') Other Projects
              i.fa.fa-code
              p.description non-code camp projects i've worked on
              //Other Sites
          div.row.collapse#toggleOther
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              //corrupting_caesars_cipher
              a#fader(href='https://charmedsatyr.github.io/corrupting_caesars_cipher/', )
                div.thumbnail-container(title="Corrupting Caesar's Cipher")
                  div.thumbnail
                    iframe(src='https://charmedsatyr.github.io/corrupting_caesars_cipher/' frameborder='0' onload='this.style.opacity=1')
                p Corrupting Caesar's Cipher
              br
              //uMAPiT
              a#fader(href='https://busanmaps.herokuapp.com/', target='_blank' rel='noopener noreferrer' )
                div.thumbnail-container(title='uMAPiT')
                  div.thumbnail
                    iframe(src='resources/uMAPiT/uMAPiT.html' frameborder='0' onload='this.style.opacity=1')
                p uMAPiT
          br
          // Donate
          // Donate heading
          div.row(title='cryptocurrency is convenient and neat!')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleDonate') Donate
              i.fa.fa-btc
              p.description help me pay for equipment and training
          // Donate
          div.row.collapse#toggleDonate
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              a(href='bitcoin:18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw?message=CharmedSatyr.com%20Donate%20Button&time=1470445686')
                p
                  i.fa.fa-btc(aria-hidden='true').orange
                  span.orange  bitcoin link
              p Bitcoin Receiving Address:
                br
                code 18F2UrKKe3hfM17yzQNJapQVPDk8rsuEWw
              br
              p Zcash Receiving Address:
                br
                code t1cXgQZkJYXxT1nAzCHKHFpQtpHCh2m3cet
          br
          // Contact
          // Contact heading
          div.row(title='have you tried pgp or protonmail?')
            div.headings.btn.btn-primary.col-xs-12.col-md-8.col-md-offset-2(data-toggle='collapse', data-target='#toggleContact') Contact
              i.fa.fa-send
              p.description get in touch securely
          // Contact sites
          div.row.collapse#toggleContact
            div.inner.well.col-xs-12.col-md-8.col-md-offset-2
              a(href='publickey.email-at-charmedsatyr-dot-com.txt', target='_blank' rel='noopener noreferrer' )
                p(title='send me an encrypted message')
                  i.fa.fa-lock(aria-hidden='true')
                  span  OpenPGP Public Key
              br
              form(method='post' action='contact.php')
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Name
                    span.error *
                  input#nameEntry.col-xs-4(type='text' name='nameEntry')
                div#nameError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Email
                    span.error *
                  input#emailEntry.col-xs-4(type='text' name='emailEntry')
                div#emailError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Website
                  input#websiteEntry.col-xs-4(type='text' name='websiteEntry')
                div#websiteError.error
                div.row
                  div.formEntry.col-xs-3.col-xs-offset-1 Subject
                    span.error *
                  input#subjectEntry.col-xs-4(type='text' name='subjectEntry')
                div#subjectError.error
                div.row
                  div.formEntry.col-xs-3 Message
                    span.error *
                  textarea#messageEntry.col-xs-4(type='text' name='messageEntry')
                div#messageError.error
                br
                div#submit.btn.btn-default(type='submit' value='Submit') Submit
                input#submitReal(type='submit' value='Real')
          //Social sites
          div.row
            div.social.col.xs-12.col-xs-offset-2.col-md-8
              div.row
                div.col-xs-2
                  a(href='https://github.com/CharmedSatyr', target='_blank' rel='noopener noreferrer'  title='Read my code on GitHub')
                    i.fa.fa-github(aria-hidden='false')
                div.col-xs-2
                  a(href='https://codepen.io/CharmedSatyr/', target='_blank' rel='noopener noreferrer'  title='Catch works in progress on CodePen')
                    i.fa.fa-codepen(aria-hidden='false')
                div.col-xs-2
                  a(href='https://www.twitter.com/CharmedSatyr', target='_blank' rel='noopener noreferrer'  title='Tweet with me')
                    i.fa.fa-twitter(aria-hidden='false')
                div.col-xs-2
                  a(href='https://eff.org', target='_blank' rel='noopener noreferrer' )
                    img(src='resources/CharmedSatyr/EFF-2017mb.png' title='Electronic Frontier Foundation Member' alt='EFF Digital Badge').eff
                div.col-xs-2
                  a(href='https://fsf.org', target='_blank' rel='noopener noreferrer' )
                    img(src='resources/CharmedSatyr/FSF-Member.png' title='Free Software Foundation Member' alt='FSF Digital Badge').fsf

    script(type='text/javascript', src='js/jquery-3.1.0.min.js')
    script(type='text/javascript', src='js/bootstrap.min.js')
    script(type='text/javascript', src='js/index.js')
    script(type='text/javascript', src='js/contact.js')
